<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
<<<<<<< HEAD
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"><a style="color: rgb(176, 172, 172)" href="https://github.com/Zircon-Development/Faliactyl">© 2022 Zircon-Dev</a></span>
=======
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"><a style="color: rgb(176, 172, 172)" href="https://github.com/Zircon-Dev/Faliactyl">© 2022 Zircon-Dev</a></span>
>>>>>>> d49e1a01e608e59b562298a51de526b9fa04a27d
    </div>
</footer>
