<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
     <script async src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
     <script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login - <%= settings.name %></title>
    <% if (settings.api.arcio.enabled == true) { %>
        <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>
    <link rel="icon" href="https://images-ext-1.discordapp.net/external/sMKkyuJo8Wn_AK_Foyl0aGrWwhe9fbqtPgkThvHxdxs/%3Fsize%3D1024/https/cdn.discordapp.com/icons/933803406513012807/bb763a3db98f9f0ae8d6029e8355dd06.png" type="image/png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

.container {
    margin: 50px auto;
}

.body {
    position: relative;
    width: 932px;
    height: 560px;
    margin: 20px auto;
    border: 1px solid #dddd;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-2 {
    padding: 10px;
}

.box-1,
.box-2 {
    width: 50%;
}

.h-1 {
    font-size: 24px;
    font-weight: 700;
}

.text-muted {
    font-size: 14px;
}

.container .box {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    text-decoration: none;
    color: #615f5fdd;
}

.box:active,
.box:visited {
    border: 2px solid #ee82ee;
}

.box:hover {
    border: 2px solid #ee82ee;
}

.btn.btn-primary {
    background-color: transparent;
    color: #ee82ee;
    border: 0px;
    padding: 0;
    font-size: 14px;
}

.btn.btn-primary .fas.fa-chevron-right {
    font-size: 12px;
}

.footer .p-color {
    color: #ee82ee;
}

.footer.text-muted {
    font-size: 10px;
}

.fas.fa-times {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
    background-color: #f3cff379;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fas.fa-times:hover {
    color: #ff0000;
}

@media (max-width:767px) {
    body {
        padding: 10px;
    }

    .body {
        width: 100%;
        height: 100%;
    }

    .box-1 {
        width: 100%;
    }

    .box-2 {
        width: 100%;
        height: 440px;
    }
}
    </style>
</head>
<body>
    <div class="container">
        <div class="body d-md-flex align-items-center justify-content-between">
            <div class="box-1 mt-md-0 mt-5">
                <img src="https://img.pikbest.com/backgrounds/20200608/tall-black-gold-corporate-culture-poster-background-template_2815247.jpg!c1024wm0"
                    class="" alt="">
            </div>
            <div class=" box-2 d-flex flex-column h-100">
                <div class="mt-5">
                    <p class="mb-1 h-1">Create Account.</p>
                    <p class="text-muted mb-2">Create an account to stay connected.</p>
                            <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" name="username" type="email" id="username" required="required" />
                            </div>                           
                            <div class="mb-3">
                            <label class="form-label" for="email">Email address</label>
                            <input class="form-control" name="email" type="email" id="email" required="required" />
                            </div>
                            <div class="mb-3">
                            <div class="d-flex justify-content-between">
                            <label class="form-label" for="password">Password</label>
                            </div>
                            <input class="form-control" name="password" type="password" id="password" required="required" />
                            </div>
                            <div class="mb-3">
                            <button class="btn btn-primary d-block w-100 mt-3" onclick="submitForm()">Register</button>
                            <script>
                                async function submitForm() {
                                    let username = encodeURIComponent(document.getElementById("username").value);
                                    let email = encodeURIComponent(document.getElementById("email").value);
                                    let password = encodeURIComponent(document.getElementById("password").value);
                                    document.location.href = `/auth/register?username=${username}&email=${email}&password=${password}`
                                };
                            </script>
                            </div>
                        </div>
                        <p class="text-muted mb-2">Or continue with...</p>
                        <div class="d-flex align-items-center">
                            <a href="/login" class="box me-2 selectio">
                                <span class="fab fa-discord"></span>
                                <p class="mb-0">Discord</p>
                            </a>
                        </div>
                        <div class="mt-3">
                            <p class="mb-0 text-muted">Already have an account?</p>
                            <a href="/">
                                <div class="btn btn-primary">Login<span class="fas fa-chevron-right ms-1"></span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <span class="fas fa-times"></span>
        </div>
    </div>
</body>
